// Fonts
@import url('https://fonts.googleapis.com/css?family=Muli');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// banner
@import 'banner';

// custom
@import 'custom';

body{
    font-family:'Muli';
    background:#f2f2f2;
}

/*================ Header ================*/
header{
    background:#fff;
    
    .header-logo img{
        margin: auto;
        padding: 0 30px;
        max-width: 250px;
        @media (max-width: 500px) { 
            padding: 0 12px;
            max-width: 130px;
        }
        &.nsrcc-logo{
            max-width: 320px;
            @media (max-width: 500px) { 
                padding: 0 12px;
                max-width: 180px;
            }
        }
    }
}
/*================ END Header ================*/

/*================ HomePage ================*/
.homepage{
    .block-banner{
        .banner-list{
            .slick-dots{
                bottom:-30px;   
                li button{
                    width:60px;
                    margin:15px;
                }
            }
        }

        > .container{
            position:relative;
        }
        .banner-sub-img{
            position:absolute;
            left:0;
            bottom:-75vh;
            z-index:1;
            width:400px;
            filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));
            @include media-breakpoint-down(sm){
                width:350px;
            }
        }

        .banner-item{
            height:75vh;
            @include media-breakpoint-down(sm){
                height:80vh;
            }

            .text-1-container{
                position:relative;
                color:white;
                z-index:1;
                margin-bottom:60px;
                .shade-box{
                    width:150%;height:100%;
                    position: absolute;
                    left:-50%;
                    top:-40px;
                    margin:40px 0;
                    background:rgba(0,0,0,.3);
                    z-index:-1;
                    &:before,&:after{
                        background:rgba(0,0,0,.3);
                        position:absolute;
                        content:"";
                        height:40px;
                        left:0;right:0;
                    }
                    &:before{
                        top:-40px;                       
                    }    
                    &:after{
                        bottom:-40px;
                    }
                }
                @include media-breakpoint-down(sm){
                    margin-bottom:120px;
                }
            }
        }
    }

    .block-content{
        background:white;
        .content-side-img{
            position: absolute;
            right: 0;
            bottom: 0;
            width:180px;
            height:400px;
            background: url(/img/Crossing-24-Luggage.png) center center / cover no-repeat;
            filter: drop-shadow(15px 10px 6px rgba(0, 0, 0, 0.2));
            @include media-breakpoint-down(md){
                z-index:-1;
                background:linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)),url(/img/Crossing-24-Luggage.png) center center / cover no-repeat;
            }
        }
        
    }

    .block-list{
        .trip-img{
            height: 200px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}
/*================ END HomePage ================*/
/*================ DetailPage ================*/
.detail{
    .block-content{
        background:white;
        p{
            margin-bottom: 0.25rem;
        }
    }
    .trip-title,h4,h5{
        font-weight:bold;
    }
    .trip-main{
        background:#f2f2f2;
    }
    .fab-wrapper{
        .fab-booknow{
            position:fixed;
            right:20px;
            bottom:60px;
            z-index:9999;
            
            @include media-breakpoint-down(sm){
            bottom: 0;
            left: 0;
            right: 0;
            background: $primary;
            text-align: center;
            padding: 8px 6px;
            box-shadow: 2px 2px 5px 1px #b0b0b0;
                a{
                    width:100%;
                    border: 1px solid #fff;
                }
            }
        }
        .fab-back{
            position:fixed;
            left:20px;
            bottom:60px;
            z-index:9999;
            
            @include media-breakpoint-down(sm){
            display:none;
            }
        }
    }
    .trip-detail{
        .slick-item{
            height:250px;
        }
    }
}
/*================ END DetailPage ================*/

/*================ Cosmetic ================*/
#overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002; 
    
    &.overlay--active {
        display: block;
        animation: fadeIn .5s 1; 
    }
}

.text-sm-nowrap{
    @include media-breakpoint-up(sm){
        white-space: nowrap;
    }
}
/*================ END Cosmetic ================*/