.slick-dots{
    position: absolute;
    bottom: 5px;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items:center;
    justify-content:center;
}
.slick-dots {
    bottom:-20px;
    li{
        button{
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 5px;
            padding:0;
            margin:10px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background:rgba(148,148,148,.4);
        }

        &.slick-active button{
            background:$primary;
        }
    }
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index:1;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
}
.slick-next:before{ 
    content: ">";
}
.slick-prev:before{
    content: '<';
}
.slick-next{right:25px;}
.slick-prev{left:25px;}

// prevent image stacking on load

.slider-item:nth-child(n+1) {
display: none;
}

.slick-initialized,
.slider-item:first-child {
display: block;
}
